<div class="intro adjust">
    <div class="en dynamic-content">
        <p class="disclaimer">
        Contained here is a collection of historical German songs and poems, from time 
        periods ranging from the Middle Ages to just after the Great War. These may have 
        been sung at a variety of instances, such as during workdays, while relaxing at home, during marches, 
        or at any number of special occasions. This website is not to be interpreted as political in any 
        manner. It is to simply be a repository of historical songs for educational purposes.
        </p>
    </div>
    <div class="fr dynamic-content">
        <p class="disclaimer">
        Ici ce retrouve un recueil de chansons et de poèmes allemands historiques, couvrant des périodes 
        allant du Moyen Âge jusqu'à quelques années après la Grande Guerre. Ces chansons pourraient avoir 
        été chantées à diverses occasions, y compris pendant les jours de travail, pendant les 
        moments de détente à la maison, pendant les marches ou lors de nombreux événements spéciaux. 
        Ce site web ne doit pas être interprété comme étant politique de quelque manière que ce soit. 
        Il s'agit uniquement d'un recueil de chansons historiques à des fins éducatives.
        </p>
    </div>
    <div class="de dynamic-content">
        <p class="disclaimer">
        Hier finden Sie eine Sammlung von historischen deutschen Liedern und Gedichten, die aus dem 
        Mittelalter bis kurz nach dem Ersten Weltkrieg stammen. Diese könnten zu verschiedenen Anlässen 
        gesungen worden sein, wie zum Beispiel während Arbeitstagen, beim Ausruhen zu Hause, bei 
        Märschen oder bei einer beliebigen Anzahl von besonderen Anlässen. Diese Webseite soll in keiner 
        Weise als politisch interpretiert werden. Sie soll nur eine Sammlung von historischen Liedern 
        zu Bildungszwecken sein.
        </p>
    </div>
</div>